#topo {
    background-color: blue;
    background: background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,20,1) 0%, rgba(0,212,255,1) 100%);;
}
#menu {
    background-color: blueviolet;
}
.destaques, .produtos, .sobre, .contato{
    background-color: coral;
}
#rodape {
    background-color: darkkhaki;
}